body {
    background: linear-gradient(
            100deg,
            rgba(100, 100, 100, 0.534),
            rgba(100, 100, 100, 0.534)
        ),
        url(../../images/landingPage-wallpaper.jpg) no-repeat center center
            fixed #000;
}

.landing-page {
    position: relative;
    width: 100%;
    height: 295%;
}

.heading {
    margin-top: 8%;
}

.heading h4 {
    margin-left: 10%;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.input {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 7%;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.buttons img {
    color: white;
}

#Istanbul {
    margin-top: 22%;
    width: 100%;
}

.landing-second {
    position: absolute;
    width: 100%;
    background: white;
    height: 32rem;
}

.landing-second-left {
    position: absolute;
    width: 50%;
    height: fit-content;
}

.landing-second-right {
    position: absolute;
    width: 50%;
    left: 50%;
    height: fit-content;
}

.landing-second-left h2 {
    padding-top: 10%;
    padding-left: 20%;
    color: darkred;
}

.landing-second-left p {
    padding-left: 20%;
    padding-top: 5%;
}

.landing-second-right img {
    padding-top: 5%;
    padding-left: 15%;
    height: 470px;
    width: 580px;
}

.landing-third {
    position: absolute;
    width: 100%;
    margin-top: 32rem;
}

.landing-third h2 {
    text-align: center;
    padding-top: 5%;
    color: white;
}

.landing-third-images {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.landing-third-images img {
    border-radius: 50%;
    border-style: solid;
    border-width: thick;
    border-color: white;
}

.landing-third-picture-tags {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

.landing-third-picture-tags h3 {
    color: white;
    margin-bottom: 5%;
}

.landing-third-picture-tags #istanbul {
    padding-left: 16%;
}

.landing-third-picture-tags #ankara {
    padding-right: 16%;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 250%;
    height: 38px;
    padding-left: 20px;
    margin-left: 8em;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#button-addon2 {
    margin-left: 45rem;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.borderUp {
    border: 2px solid purple;
}
