.page {
    display: contents;
}

.clinic-card {
    margin-top: 4%;
    margin-left: 7%;
    margin-bottom: 5%;
}

.checked {
    color: orange;
}

.card-body button {
    float: right;
}


.borderUp{
    border: 2px solid red;
}