.footer {
    /* position: absolute; */
    /* bottom: -106.2em; */
    width: 100%;
    height: 12em;
    background-color: #272727;
}

.footer-left {
    position: absolute;
    width: 50%;
}

.footer-right {
    position: absolute;
    left: 50%;
    width: 50%;
}

.footer-left #footer-left-info {
    padding-top: 5%;
    padding-left: 20%;
    color: white;
}

.footer-right #footer-right-info {
    padding-top: 5%;
    text-align: end;
    padding-right: 20%;
    color: white;
}

.footer-right img {
    float: right;
    padding-right: 1%;
}

.footer-right #facebook {
    padding-right: 20%;
}
