
html {
  position: relative;
  min-height: 100%;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px !important; 
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px; 
}

.btn-primary {
    background-color: #025fce !important;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}
.card {
    margin-top: 30px !important;
    width: 1000px;
    margin-left: 20px;
}

.image {
    border-color: black;
    width: 200px;
    height: 200px;
}

body {
    background: linear-gradient(
        100deg,
        rgba(0, 0, 0, 0.534),
        rgba(0, 0, 0, 0.486)
    );
}

.heading {
    margin-top: 8%;
}

.heading h4 {
    margin-left: 10%;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.input {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.buttons {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.buttons button {
    padding-right: 2% !important;
}

.buttons img {
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: white;
    padding-bottom: 0.6%;
    padding-top: 0.6%;
}

.footer > span {
    color: darkred;
    font-weight: 500;
}
.profile-page-container {
    margin: 30px !important;
}
.form-control {
    height: calc(2.3em + 0.75rem + 2px) !important;
}
.delete-button {
    margin-bottom: 18px !important;
} */
