body {
    background: linear-gradient(
            100deg,
            rgba(0, 0, 0, 0.534),
            rgba(0, 0, 0, 0.486)
        ),
        url(../../images/landingPage-wallpaper.jpg) no-repeat center center
            fixed #000;
}

.heading {
    margin-top: 8%;
}

.heading h4 {
    margin-left: 10%;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.input {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.buttons {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.buttons button {
    padding-right: 2% !important;
}

.buttons img {
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: white;
    padding-bottom: 0.6%;
    padding-top: 0.6%;
}

.footer > span {
    color: darkred;
    font-weight: 500;
}
